# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Passport/.vs/Passport/v17/.suo
*.db
*.vsidx
*.lock
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.ilk
*.log
*.tlog
*.idb
*.pdb
*.txt
list_stack_queue/.vs/list_stack_queue/v17/.suo
class_Auto/.vs/class_Auto/v17/.suo
class_Pet/.vs/class_Pet/v17/.suo
fine_traffic_police/.vs/fine_traffic_police/v17/.suo
class_Directory/.vs/class_Directory/v17/.suo
